<!DOCTYPE html>
<html>
  <head>
    <title>Dialog Chatbot</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <div id="chatbox">
      {% for message in messages %}
        <div class="message">
          {% if message.user %}
            <b>{{ message.user }}:</b>
          {% endif %}
          {{ message.text | markdown }}
        </div>
      {% endfor %}
    </div>
    <form id="chatform">
      <textarea id="message" autocomplete="off"></textarea>
      <input type="submit" value="Send">
    </form>
    <div id="typing-indicator">
      <img src="templates/assets/img/Ellipsis-1s-24px.gif" alt="typing-indicator">
    </div>
    <style>
      #typing-indicator {
        display: none;
      }
    </style>
    <script>
      function addMessage(message) {
        $('#chatbox').append('<div class="message"><b>You:</b> ' + message + '</div>')
        $('#message').val('')
        $('#typing-indicator').show()
        $.ajax({
          url: '/chat',
          type: 'POST',
          data: JSON.stringify({'message': message}),
          contentType: 'application/json; charset=utf-8',
          dataType: 'json',
          success: function(response) {
            setTimeout(function() {
              $('#chatbox').append('<div class="message"><b>Model:</b> ' + response.message + '</div>')
              $('#typing-indicator').hide()
            }, 2000)
          }
        })
      }
      $('#chatform').on('submit', function(event) {
        event.preventDefault()
        addMessage($('#message').val())
      })
    </script>
  </body>
</html>